.product-select-wrapper {
  min-width: 450px;
  position: relative;
}

.product-select-wrapper .scroller {
  justify-content: center;
}
.product-select-wrapper .scroller-content {
  padding: 20px 0;
  row-gap: 30px;
}

.product-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.product-image-wrapper {
  width: 100px;
}
.product-image {
  aspect-ratio: 9/12;
}

.product-title-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
  margin: 0 20px;
}
.product-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
}

.product-select-button {
  width: 40px;
  height: 40px;
  border: 2px solid var(--secondary-action-color);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.product-select-button:hover,
.product-select-button.active {
  background-color: var(--secondary-action-color);
}
.icon-wrapper {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}
.arrow-icon {
  display: block;
  width: 100%;
  filter: var(--secondary-action-color-filter);
}
.product-select-button:hover .arrow-icon,
.product-select-button.active .arrow-icon {
  filter: var(--bg-color-filter);
}

/* mobile styling */
@media screen and (max-width: 768px) {
  .product-select-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 0;
  }

  .product-image-wrapper {
    width: 50px;
  }

  .product-select-button {
    width: 30px;
    height: 30px;
  }
  .icon-wrapper {
    height: 25px;
    width: 25px;
  }
}
